.nextButton {
  background-color: #287b71;
  color: white;
}
.nextButton:hover {
  background-color: #206d64; /* darker green on hover */
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}